<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<p>Hello, <%= @user.email %></p>
      <p>===============================================</p>

<p>You have requested to reset your password.</p>

<p>To choose a new password, just follow this link: <%= link_to "Reset password", @url %></p>

<p>Have a great day!</p>
  </body>
</html>
