@import "font-awesome";

body {
    font-family: 'Lato', sans-serif;
    color: #556270;
    margin: 0 auto;
}

@font-face {
  font-family: 'Quicksand';
  src:url('Quicksand-Light.otf');
  font-weight: normal;
  font-style: normal;
}

/* for responsive purpose */
img, embed, object, video {
    max-width: 100%;
}

/* for eliminating the 3px margin at the bottom */
img {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #556270;
    outline: none;
}

li {
    list-style: none;
}

.text-shadow {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.flex-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 110px;
}

.header {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    display: flex;
    order: 1;
    z-index: 999;
}

.top-bar {
    display: flex;
    background: #556270;
    min-width: 100%;
    height: 40px;
    position: relative;
    color: #fff;
    font-size: 0.8em;
}

.top-bar-left {
    display: flex;
    order: 1;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    position: relative;
    left: 10px;
}

.top-bar-right {
    display: flex;
    order: 2;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
    ul {
        display: flex;
        justify-content: flex-end;
        height: 30px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
    }
    a {
        color: #fff;
    }
    a:hover {
        color: #ccc;
    }
}

.navigation {
    display: flex;
    order: 2;
    background: #fff;
    min-width: 100%;
    height: 70px;
    position: relative;
    top: 40px;
    left: -100%;
}

.logo-area {
    display: flex;
    order: 1;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
}

.logo {
    display: flex;
    order: 1;
    width: 60px;
    img {
        max-height: 50px;
        min-width: 50px;
        position: relative;
        left: 5px;
    }
}

.name {
    display: flex;
    order: 2;
    width: 160px;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.1em;
    letter-spacing: -0.02em;
    position: relative;
    left: -5px;
    a {
        color: #556270;
    }
}

.menu {
    display: flex;
    order: 2;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
    position: relative;
    right: 10px;
}

.menu-btn i, .signup-btn, .login-btn, .upload-btn {
    z-index: 99;
    cursor: pointer;
}

.responsive-menu, .signup-form, .login-form, .upload-form {
    display: none;
    background: rgba(85,98,112,0.92);
    width: 100%;
    position: fixed;
    top: 110px;
    left: 0;
    input, button {
        color: #000;
    }
    ul {
        left: 0;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    li {
        height: 50px;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    a {
        color: #fff;
        text-align: center;
    }
    a:hover {
        color: #556270;
        li {
            background: rgba(255,255,255,0.65);
        }
    }
}

.expand {
    display: block;
}

.content {
    width: 100%;
    display: flex;
    order: 2;
    flex-direction: column;
    position: relative;
    top: 110px;
}

.mega-slider {
    display: flex;
    order: 1;
    flex-wrap: wrap;
    width: 100%;
    height: 230px;
    background: #ff6b6b;
    color: #fff;
}

.slider-icon {
    display: flex;
    order: 1;
    width: 100%;
    height: 87px;
    align-items: center;
    justify-content: center;
}
.slider-arrow-left {
    display: flex;
    order: 2;
    width: 7.5%;
    height: 50px;
    align-items: center;
    justify-content: flex-start;
}

.slider-headline {
    display: flex;
    order: 3;
    width: 85%;
    height: 50px;
    align-items: center;
    justify-content: center;
    h1 {
        font-size: 1.8em;
        position: relative;
        top: -3px;
    }
}

.slider-arrow-right {
    display: flex;
    order: 4;
    width: 7.5%;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
}
.slider-subheadline {
    display: flex;
    order: 5;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.slider-cta {
    display: flex;
    order: 6;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.slider-navdots {
    display: flex;
    order: 7;
    width: 100%;
    height: 33px;
    align-items: center;
    justify-content: center;
}

.photo-grid {
    display: flex;
    order: 2;
    justify-content: center;
    position: relative;
    top: 110px;
    width: 100%;
    background: #ccc;
    .box {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
}

.footer {
    width: 100%;
    height: 120px;
    background: #556270;
    display: flex;
    order: 3;
    flex-direction: column;
    color: #cedae8;
    position: relative;
    top: 110px;
    font-size: 0.8em;
    a {
        color: #cedae8;
    }
}

.social-icons {
    display: flex;
    order: 1;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-size: 1.3em;
}

.sitemap {
    display: flex;
    order: 2;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.copyright {
    display: flex;
    order: 3;
    align-items: center;
    justify-content: center;
    height: 30px;
}

/* modal style */
.ui-dialog {
    background: #556270 !important;
    width: 100% !important;
    border-radius: 0;
    border: 0;
    padding: 0;
    font-size: 0.9em;
    top: 15% !important;
    z-index: 99999;
    a {
        color: #fff;
    }
}

.ui-dialog-content {
    background: #556270 !important;
    color: #fff;
    input {
        color: #556270;
    }
}

.ui-dialog-titlebar {
    background: #556270;
    color: #fff !important;
    border: 0 !important;
    border-bottom: 1px solid #333 !important;
    border-radius: 0;
    text-align: center;
}

.ui-dialog-titlebar-close {
    background: #556270 !important;
    color: #fff !important;
}

.ui-widget-overlay {
    background: rgba(0,0,0,0.95);
}

/* remove jQuery UI blue border */
*:focus {
    outline: none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {


}
