<footer class="footer text-shadow">
    <div class="social-icons">
        <a href="https://www.facebook.com/pages/17Sharehk%E4%B8%80%E9%BD%8AFun%E4%BA%AB/583423565126773" target="_blank"><span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
        </span></a>
        <a href="https://www.pinterest.com/17sharehk" target="_blank"><span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-pinterest-p fa-stack-1x"></i>
        </span></a>
    </div>
    <div class="sitemap"><a href="">網站地圖</a></div>
    <div class="copyright">© 2015 17Share.hk</div>
</footer>
