<footer class="footer text-shadow">
    <div class="social-icons">
        <a href="" target="_blank"><span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
        </span></a>
        <a href="" target="_blank"><span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-pinterest-p fa-stack-1x"></i>
        </span></a>
    </div>
    <div class="sitemap">網站地圖</div>
    <div class="copyright">© 2015 17Share.hk</div>
</footer>
