<main class="content">
    <div class="mega-slider">
        <div class="slider-icon text-shadow">
            <i class="fa fa-camera-retro fa-4x"></i>
        </div>
        <div class="slider-arrow-left">
            <i class="fa fa-chevron-left fa-2x"></i>
        </div>
        <div class="slider-headline text-shadow">
            <h1>一切從婚紗攝影開始</h1>
        </div>
        <div class="slider-arrow-right">
            <i class="fa fa-chevron-right fa-2x"></i>
        </div>
        <div class="slider-subheadline text-shadow">
            <h3>看盡香港台灣婚攝服務</h3>
        </div>
        <div class="slider-cta text-shadow">
            立即加入
        </div>
        <div class="slider-navdots">
            Nav Dots
        </div>
    </div>
</main>
